body {
    background-image: url("assets/images/backdrop.jpg");
}

h1, h2, h3, h4 {
    color: rgb(57, 0, 148);
    font-family: "Pompiere", serif;
    font-weight: bold;
}

article {
    background-color: white;
    margin-top: 5em;
    margin-bottom: 8em;
    border: 5px solid transparent;
    border-radius: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    border-top: 5px solid teal;
    padding: 2em;
    text-align: center;
}

.img-fluid {
    margin: 5px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 5px;
}
