body {
    background-image: url("assets/images/backdrop.jpg");
}

article {
    background-color: white;
    margin-top: 8em;
}

footer {
    background-color: gray;
    border-top: 3px;
    border-color: teal;
    padding: 2em;
}