body {
    background-image: url("assets/images/backdrop.jpg");
}

h1 {
    color: teal;
    font-family: "Bookman", serif;
}

article {
    background-color: white;
    margin-top: 8em;
    margin-bottom: 8em;
}

footer {
    background-color: gray;
    border-top: 5px solid teal;
    padding: 2em;
}

.img-fluid {
    margin: 5px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 5px;
}